.git/
# Tool files
**/node_modules/
**/.venv/
**/yarn-error.log

# Project files
zookeeper/
solr/
**/solr-cloud
**/solr-*.zip
**/data/address/*
**/data/streets/*
!**/data/**/.gitkeep

# Other
**/.DS_Store
**/.env
